
$theme: '.ace';
$theme: '.ace.sc-small-size';


#{$theme}.sc-segment-view {

  height: 18px;
  
  .left {
    width: 8px;
    height: 18px;
    @extend .__s148_282;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_normal_100_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_normal_100_0_8__0_", 0);background-repeat: no-repeat;
  }
  
  .right {
    width: 8px;
    height: 18px;
    @extend .__s148_283;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_normal_92_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_normal_92_0_8__0_", 0);background-repeat: no-repeat;
  }
  
  .middle {
    left: 8px; right: 8px;
    height: 18px;
    @extend .__s148_284;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_normal_8_0_1__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_normal_8_0_1__0_", 0);background-repeat: repeat-x;
  }
  
  .sc-button-label {
    padding: 0px;
    font-size: 11px;
    top: -2px;
    margin-left: 9px;
    margin-right: 10px;
  }
  
  &.sc-first-segment .left {
    @extend .__s148_285;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_normal_0_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_normal_0_0_8__0_", 0);background-repeat: no-repeat;
  }
    
  &.sc-last-segment .right {
    @extend .__s148_286;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_normal__0_8__0_0", 0) _slice_offset_y("source/resources/segmented/18px/segmented_normal__0_8__0_0", 0);background-repeat: no-repeat;  
  }
  
  
  
  &.active {
    .left { @extend .__s148_287;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_active_100_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_active_100_0_8__0_", 0);background-repeat: no-repeat; }
    .right { @extend .__s148_288;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_active_92_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_active_92_0_8__0_", 0);background-repeat: no-repeat; }
    .middle { @extend .__s148_289;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_active_8_0_1__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_active_8_0_1__0_", 0);background-repeat: repeat-x; }
  }
  
  &.active.sc-first-segment {
    .left { @extend .__s148_290;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_active_0_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_active_0_0_8__0_", 0);background-repeat: no-repeat; }
  }
  
  &.active.sc-last-segment {
    .right { @extend .__s148_291;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_active__0_8__0_0", 0) _slice_offset_y("source/resources/segmented/18px/segmented_active__0_8__0_0", 0);background-repeat: no-repeat; }
  }
  
  
  
  &.sel {
    .left { @extend .__s148_292;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_selected_100_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_selected_100_0_8__0_", 0);background-repeat: no-repeat; }
    .right { @extend .__s148_293;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_selected_92_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_selected_92_0_8__0_", 0);background-repeat: no-repeat; }
    .middle { @extend .__s148_294;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_selected_8_0_1__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_selected_8_0_1__0_", 0);background-repeat: repeat-x; }
  }

  &.sel.sc-first-segment {
    .left { @extend .__s148_295;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_selected_0_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_selected_0_0_8__0_", 0);background-repeat: no-repeat; }
  }

  &.sel.sc-last-segment {
    .right { @extend .__s148_296;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_selected__0_8__0_0", 0) _slice_offset_y("source/resources/segmented/18px/segmented_selected__0_8__0_0", 0);background-repeat: no-repeat; }
  }
  
  
  
  &.sel.active {
    .left { @extend .__s148_297;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_selected_active_100_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_selected_active_100_0_8__0_", 0);background-repeat: no-repeat; }
    .right { @extend .__s148_298;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_selected_active_92_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_selected_active_92_0_8__0_", 0);background-repeat: no-repeat; }
    .middle { @extend .__s148_299;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_selected_active_8_0_1__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_selected_active_8_0_1__0_", 0);background-repeat: repeat-x; }
  }

  &.sel.active.sc-first-segment {
    .left { @extend .__s148_300;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_selected_active_0_0_8__0_", 0) _slice_offset_y("source/resources/segmented/18px/segmented_selected_active_0_0_8__0_", 0);background-repeat: no-repeat; }
  }

  &.sel.active.sc-last-segment {
    .right { @extend .__s148_301;
background-position: _slice_offset_x("source/resources/segmented/18px/segmented_selected_active__0_8__0_0", 0) _slice_offset_y("source/resources/segmented/18px/segmented_selected_active__0_8__0_0", 0);background-repeat: no-repeat; }
  }

}

$theme: '.ace';

